body{
    margin: 0;
}
.colored-squar{
    height: 100px;
    width: 100px;
    background-color: black;

    transition: background-color 0.5s ease-in-out,  width 1s ease-in-out;
}

.colored-squar:hover{
    background-color: yellow;
    width: 100%;
}



.magic-shape{
    height: 90px;
    width: 90px;
    background-color: orange;
    border-radius: 50%;
    position: fixed;
    bottom: 20px;
    right: 20px;
    transition: all 0.4s ease-in-out;
}

.magic-shape > p {
    display: none;
}

.magic-shape:hover{
    width: calc( 100% - 40px );
    height: calc( 100vh - 40px );
    border-radius: 20px; 
}


.magic-shape:hover > p{
    display: block;
}


 

.nav-element{
 position: relative;
}

.nav-element > .menu{
    background-color: #03a9f4;
    color: white;
    padding: 10px 30px;
}

.nav-element > .sub-menu{
    display: none;
    position: absolute;
    bottom: -130px;
    left: 0;
    background-color: orange;
    width: 152px;
}


.nav-element > .sub-menu > ul{
    list-style: none;
    padding: 0;
}

.nav-element > .sub-menu > ul > li{
    padding: 15px;
    color: white;
    border-bottom: 1px solid white;
}




.nav-element:hover > .sub-menu{
    display: block;
}